h1{
  font-family: 'Segoe UI';
  font-size: 490%;
}

div{
  margin-top: 2.5%;
}

.pie{
  text-align: right;
}

.justificado{
  text-align: justify;
}

.centro{
  //text-align: center;
  //background-color: #ffaa00;
  font-size: x-large;
}

.izquierdo{
  float: right;
}

.derecha{
  float: left;
}