<html lang="es">
<nb-layout-footer>
    <h1>
        Historia
    </h1>
</nb-layout-footer>

<img class="intir" src="/assets/img/Historia/IMG_4164.jpg" title="Castillo de ingapirca y sus ruinas"
    alt="Castillo de ingapirca y sus ruinas" style="width: 40%">

<p>
    Con el nombre de Ingapirca, palabra kichwa que significa “muro o pared del inca”, se designa al conjunto
    arquitectónico inca más importante y mejor conservado del país, conocido desde tiempos tempranos de la Colonia
    española, pues Pedro de Cieza de León, a mediados del siglo XVI se refirió entonces a los “grandes aposentos”
    existentes en Hatún Cañar, como se llamaba el sector de donde se derivó el nombre de toda la gran confederación
    cañari.
    <br><br>
    La primera relación histórica segura de este monumento es la redactada por los científicos y marinos españoles
    Antonio de Ulloa y Jorge Juan, quienes llegaron a la Real Audiencia de Quito en 1736, integrando la Primera
    Misión Geodésica Francesa. Miembro sobresaliente de esta misión fue el académico francés Carlos María de La
    Condamine, quién publicaría en Europa la descripción más completa y detallada de la época, acompañada de un
    croquis muy preciso. Este incluye tanto el Castillo o Elipse y sus aposentos aledaños, como el gran recinto
    habitacional excavado y redescubierto en 1975 por los arqueólogos de la Misión Científica Española, quienes
    denominaron La Condamine a los muros emplazados al sur oriente del llamado torreón.
    <br><br>
    Otras descripciones del lugar fueron realizadas durante el siglo XIX por los insignes naturalistas Alejandro Von
    Humboldt y Francisco José de Caldas. A finales de este siglo, el historiador Federico González Suárez, en varias
    de sus obras, como el Estudio histórico sobre los cañaris (1878), reporta con detalle estas edificaciones y
    comenta el avanzado estado de deterioro en el que se encontraban ya en su época.
    <br><br>
    En el siglo pasado, Ingapirca fue motivo de interés de varios estudiosos como el doctor Paúl Rivet, etnólogo y
    médico francés, quien resume los análisis anteriores y aporta con datos precisos para su conocimiento. El
    arqueólogo alemán Max Uhle, destaca la técnica constructiva de varios componentes del sitio, en especial de la
    “Elipse”, hoy llamado “Templo del Sol”.
    <br><br>
    Una de las principales labores de investigación académica llevadas a cabo en Ingapirca, entre 1967-1968 fueron
    realizadas por el arqueólogo norteamericano Gordon J. Haden, investigador del “Instituto Andino de Nueva York”,
    quien realizó también trabajos de limpieza y consolidación de los vestigios de la Elipse y de los aposentos
    anexos, ejecutados entre octubre de 1967 y enero de 1968, tarea que es continuada en abril de 1968 por el
    coronel (r) Ángel Bedoya Maruri , quien además logra la recuperación de las piedras sillares pertenecientes al
    conjunto prehispánico que se encontraban diseminadas en una amplia zona, algunas de ellas formando parte de
    cercados, paredes y linderos. Entre estas piezas se hallaron elementos arquitectónicos de gran importancia como
    umbrales, dinteles, piedras de desagüe y “bisagras”.
    <br><br>
    En 1970, el doctor Juan Cueva Jaramillo realizó una temporada de excavaciones de dos meses, doblemente
    importante: en primer lugar, debido a la recuperación de una parte de lo que hoy conocemos como La Condamine y
    el descubrimiento y parcial desbaste de Pilaloma, gran conjunto situado a unos ciento cincuenta metros al sur
    oriente de la Elipse y, en segundo lugar, por las excavaciones sistemáticas en la quebrada del Intihuayco, muy
    importantes para entender la evolución de la alfarería antigua.
    <br><br>
    Luego, en los años 1974 y 1975, la Comisión Española de la Universidad Complutense de Madrid, dirigida por el
    famoso americanista, doctor José Alcina Franch, asistido por los doctores Miguel Rivera Dorado, Lorenzo López y
    Sebastián y Antonio Fresco González, también dejó su impronta.
    Su trabajo permitió despejar todos los muros de La Condamine y Pilaloma, zanjando exhaustivamente las dos áreas
    y consolidando la Elipse. Especial énfasis puso la misión en reponer las hiladas de piedra correspondientes a un
    sector de la fachada norte del muro de contención del Templo, que se había derrumbado, poniendo en peligro su
    estabilidad.
    <br><br>
    Muy significativo fue el aporte de Mario Jaramillo Paredes, quien en 1976 publicara su tesis doctoral en
    historia, sostenida en la Universidad de Cuenca. Este trabajo se ha constituido en una obra de obligada consulta
    debido a que resume lo hecho hasta esa fecha y reinterpreta científicamente la función de los diferentes
    componentes del sitio.
    <br>
    Desde agosto de 1978, y por un período de cuatro años, laboró en calidad de arqueólogo residente el doctor
    Antonio Fresco, obteniendo como resultado el descubrimiento de un conjunto de muros denominados por él, como la
    Vaguada y Bodegas, que une arquitectónicamente a La Condamine con Pilaloma.
    <br>
    Por fin, estudios de la Universidad de Varsovia, a lo largo de la misma década, han efectuado muy serias
    contribuciones al conocimiento de la arqueoastronomía, pues las conclusiones a las que ellos arribaron indicaron
    que las construcciones estuvieron directamente vinculadas con la observación de los astros, ciencia de la que
    los incas eran acérrimos cultivadores.
</p>

</html>