<html lang="es">
<nb-layout-footer>
    <h1>
        Intiraymi
    </h1>
</nb-layout-footer>

<img class="intir" src="/assets/img/Intiraymi/IMG_4394.jpg" title="Sombrero que era usado para el ritual del Intiraymi" alt="Sombrero que era usado para el ritual del Intiraymi" >

<p>
    Son cuatro son las celebraciones más relevantes desarrolladas en el Mundo
    Andino, y coinciden con los cuatro fenómenos astronómicos que marcan los cambios climáticos en el planeta;
    el Inti Raymi el 21 de junio y el Qhapaq Raymi el 21 de diciembre en los solsticios de invierno y verano
    respectivamente para nuestro hemisferio; el Pawkar Raymi el 21 de marzo y Quilla Raymi el 21 de septiembre
    en los equinoccios de otoño y primavera.
    <br><br>
    De los cuatro raymis, el Inti Raymi, se trata de la fiesta del sol y la cosecha, que los incas desarrollaban
    en el solsticio de invierno para el hemisferio sur y marcaba el inicio del nuevo año agrícola. Se considera
    que tres eran las motivaciones que tenían para su celebración; la primera, de gratitud al Astro Rey, que
    permitía el orden y la vida, posibilitaba el florecimiento de sus campos y garantizaba una abundante cosecha;
    la segunda, honrar el recuerdo de sus pasados gobernantes, quienes bajo la protección de su deidad, lograron
    dominar los territorios conquistados, los cuatro suyos del imperio incaico; y la tercera, regocijar al pueblo,
    que acudía a la fiesta como espectador del grandioso evento.
    <br><br>
    Al respecto de las razones del Inti Raymi, Garcilaso de la Vega dejó escrito que: «Hacían está fiesta al Sol
    en reconocimiento de
    tenerle y adorarle por sumo, solo y universal dios, que con su luz y virtud criaba y sustentaba todas las
    cosas de la Tierra. Y en
    reconocimiento de que era padre natural del primer Inka Manco Cápac, de la Coya Mama Ocllo Huaco y de sus
    hijos y descendientes, enviados
    a la tierra para el beneficio universal de las gentes. Por estas causas, como ellos dicen, era solemnísima
    esta fiesta». Así la celebración
    mayor del Inti Raymi que tenía una duración de nueve días, se lo realizaba en el lugar de residencia del
    Inca, en el Cuzco, en la Tumipampa
    de Huayna Cápac, en el templo del Sol en Ingapirca.
    <br><br>
    La Fiesta del Sol fue suspendida durante la conquista y colonización española, en el año 1543; sin embargo,
    en los pueblos de la serranía
    ecuatoriana y particularmente en el pueblo cañari y puruhá, el canto del Jahuay o celebración de la cosecha
    desarrollada igualmente en el
    solsticio de invierno, pervive hasta nuestros días. Se retoma la festividad del Inti Raymi, recién en el año
    1944; es el Peruano Faustino
    Espinoza, quien, basado en crónicas de Garcilaso de la Vega, presenta una recreación histórica de la
    celebración en la localidad del Cusco,
    con la finalidad de convertirla en un atractivo de tipo turístico.
    <br><br>
    <img class="intira" src="/assets/img/Intiraymi/IMG_4396.jpg" title="Vestimenta que fue usada por el taita carnaval y uno de los mienbros para realizar el intiraymi" alt="Vestimenta que fue usada por el taita carnaval y uno de los mienbros para realizar el intiraymi" >
    En Ingapirca, por su parte, el Inti Raymi se vuelve a desarrollar a partir del año de 1988, organizado por
    las comunidades de la parroquia y
    la Comisión del Castillo, que para entonces administraba el complejo arqueológico. La celebración se la
    realiza por tres días consecutivos,
    hasta el año 2005; es suspendida por varios años y a partir del 2009 se retoma en la plaza del Complejo
    Arqueológico y en el Parque de Guantug,
    en el Centro Cantonal de Cañar. Hoy redivivo el Inti Raymi, aún se pueden observar rezagos helíacos en las
    ceremonias y rituales que desarrollan
    los taytas y mamas en las comunidades del pueblo cañari. A pesar de los cambios experimentados en la manera
    de celebrar el Inti Raymi, éste
    constituye una ventana a través de la cual se muestra al Ecuador y al mundo no solo la riqueza de la cultura
    viva del pueblo cañari, sino las
    expresiones culturales más relevantes del país, reflejadas en la danza y música de las diferentes regiones
    del Ecuador.
</p>
</html>