.cultural{
    padding-top: 3%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-bottom: 5%;
}

.caminoinca{
    padding-bottom: 5%;
}

.lculebrillas{
    padding-top: 2%;
}

.laguna{
    padding-bottom: 8%;
}

.rumi{
    padding-bottom: 5%;
}

.paisaje{
    float: left;
    padding-right: 1em;
    width: 25%;
}

.tres {
    float: right;
    padding-left: 1em;
    width: 25%;
}

.paisa{
    float: left;
    padding-right: 1em;
    height: 5cm;
}

//p {
    //text-align: justify;
//}

h1{
    font-family: 'Segoe UI';
    font-size: 490%;
}

h5 h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intira {
    float: right;
    padding-right: 1em;
    width: 20%;
}